version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=pokedex_db
      - POSTGRES_USER=oak_user
      - POSTGRES_PASSWORD=password_secreta_dev
    ports:
      - "5432:5432"

  web:
    build: .
    # command: python src/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://oak_user:password_secreta_dev@db:5432/pokedex_db
    depends_on:
      - db

volumes:
  postgres_data: